API_BASE_URL=https://api.open-meteo.com
API_TIMEOUT=10
API_MAX_RETRIES=2
API_BACKOFF_SECONDS=0.5

POSTGRES_DB=weather_db
POSTGRES_USER=weather_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost