AIRFLOW_IMAGE_NAME=weather-airflow:3.3.0
AIRFLOW_UID=50000
FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW__API_AUTH__JWT_SECRET=replace_with_random_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=change_me
